@media(max-width:580px){
    .l1,.l2{
        display:none;
    }
    .comp_name{
        margin:0;
    }
    .comp_div{
        margin:0;
    }
    nav{
        justify-content: none;
    }
}
.slideshow{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation:bgSlide 20s infinite;
}
@keyframes bgSlide {
  0%   { background-image: url('./Assets/high1_reso.jpg'); }
  33%  { background-image: url('./Assets/high2_reso.jpg'); }
  66%  { background-image: url('./Assets/high3_reso.jpg'); }
  100% { background-image: url('./Assets/high4_reso.jpg'); }

}


